# Prototype for Email spam classification

Importing the necessary libraries:

In [4]:
import pandas as pd
import numpy as np 
import matplotlib as plt
import re
from sklearn.model_selection import train_test_split

Let us now load the dataset from the file path.

In [5]:
df = pd.read_csv("emails.csv")

Now we check whether the daset is properly loaded by checking the first few lines of the dataset

In [6]:
df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [7]:
df.describe()

              spam
count  5728.000000
mean      0.238827
std       0.426404
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

We can see that the spam emails are marked one, and the ham mails are marked 0 in this daset.

In order to build a spam classification model, we need to first perprocess our dataset

In [8]:
def clean_text(text):
    # Lowercase the text
    text = text.lower()
    # Remove special characters and numbers
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    return text

In [9]:
df['cleaned_text'] = df['text'].apply(clean_text)

In [10]:
df.head()

,text,spam,cleaned_text
0,Subject: naturally irresistible your corporate...,1,subject naturally irresistible your corporate ...
1,Subject: the stock trading gunslinger fanny i...,1,subject the stock trading gunslinger fanny is...
2,Subject: unbelievable new homes made easy im ...,1,subject unbelievable new homes made easy im w...
3,Subject: 4 color printing special request add...,1,subject color printing special request addit...
4,"Subject: do not have money , get software cds ...",1,subject do not have money get software cds fr...

Now we shall split our dataset into 3 parts, training, test and validation set.

In [11]:
# First, we split the data into training and temp sets (temp will be further split into validation and test sets)
train_data, temp_data = train_test_split(
    df, test_size=0.3, random_state=42)
# Now, split the temp data into validation and test sets
validation_data, test_data = train_test_split(
    temp_data, test_size=0.5, random_state=42)

let us check the sizes of the datasets

In [12]:
train_size = train_data.shape[0]
validation_size = validation_data.shape[0]
test_size = test_data.shape[0]

(train_size, validation_size, test_size)

(4009, 859, 860)

Now we need to save the  datasets as csv files

In [13]:
train_data.to_csv("train.csv", index=False)
validation_data.to_csv("validation.csv", index=False)
test_data.to_csv("test.csv", index=False)

In [14]:
train_data.head()

,text,spam,cleaned_text
3931,Subject: volatility curves - linked from reute...,0,subject volatility curves linked from reuters...
4056,Subject: organizational announcement fyi . -...,0,subject organizational announcement fyi ...
4546,Subject: lng meeting hello all : the lng mee...,0,subject lng meeting hello all the lng meeti...
2471,Subject: fwd : re : optical network engineerin...,0,subject fwd re optical network engineering ...
2481,"Subject: re : argentina modelling michael , ...",0,subject re argentina modelling michael wha...

In [15]:
train_data.describe()

              spam
count  4009.000000
mean      0.231230
std       0.421672
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000